.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Allproducts{
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.product img{
  width: 100%;
  height:95%;
  object-fit: cover;
  margin-bottom: 9px;
}
.product h3{
  padding: 3px;
}
.product{
  background-color: #f0f0f0;
  padding: 20px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0);
  cursor: pointer;
  margin: 20px;
}

.pagination{
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.pagination_selected{
  background-color: #c6ccc6;
}
.pagination_disable{
opacity: 0;
}
.pagination span{
  padding: 20px;
  cursor: pointer;
  border:1px solid black;
  margin :15px 0;
}