.App {
  text-align: center;
  background-color: teal;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.input-container{
  height: 190px;
}
.input-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-box .input{
  width: 50px;
  height: 30px;
  text-align: center;
  margin: 12px;
  border: none;
  outline: none;
}
.button{
  background-color: bisque;
  border: none;
  outline: none;
  padding: 5px;
  width: 60px;
  height: 30px;
  margin:4px;
}
.timer-box{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 90px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
