.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.show-offer{
  margin: 20px auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-btn{
  height: 60px;
  width: 150px;
  border: none;
  outline: none;
  background-color: aqua;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.modal{
  background: radial-gradient(white,rgba(0,0,0,0.5)50%);
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  display: grid;
  place-items: center;
}
.modal-content{
display: flex;
flex-direction: column;
gap: 20%;
background-color: rgb(202, 134, 51);
padding: 20px;
position: relative;
}
.close-btn{
  position: absolute;
  background-color: rgb(202, 134, 51);
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
}

.content{
  margin-top: 40px;
  width: 300px;
  height: 200px;
  font-size: 20px;
}
.accept-btn{
  border:none;
  height: 40px;
  outline: none;
  border-radius: 5px;
  background-color: rgb(200, 31, 12);
  font-size: 20px;
  color: white;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
